@charset "UTF-8";

body {background-color: #343a40;}

body > div {padding: 0 !important;}

.header {border-bottom: 1px solid rgba(169, 169, 169, .5);}
.header > nav > ul {width: 100%;}
.header > nav > ul > .header-btns {margin-left: auto;}
.header > nav > ul > .header-btns > .btn-group > .dropdown-menu {right: 0%; top: 125%; left: unset; background-color: #343a40; color: white; border: 1px solid rgba(169, 169, 169, .5);}
.header > nav > ul > .header-btns > .btn-group > .dropdown-menu > form {padding: 10px;}
.header > nav > ul > .header-btns > .btn-group > .dropdown-menu > form > div:nth-child(5) {text-align: center; margin-top:10px;}

tr > td {border-right: 1px solid rgba(169, 169, 169, .5);}

.table {text-align: center; margin-bottom: 0;}
.table > tbody > tr > td {vertical-align: middle;}
.table > tbody > tr > td:nth-child(4) {
	overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap;
  	width: 500px;
  	display: inline-block;
}

.buttonbar {
	height: 50px;
	border-top: 1px solid rgba(169, 169, 169, .5);
	text-align: center;
    font-size: 20px;
    padding: 10px !important;
}

.buttonbar > .c_page {color: white;}
.buttonbar > .page {color: rgba(255, 255, 255, .5);}
.buttonbar > button {border: none; background: none; color: white;}

/* -------------------- index.jsp End ---------------------------------- */

.btns > a {margin: 0 0 0 10px; float: right;}

.jumbotron {text-align: center; background-color: lightskyblue; margin: 0;}

.commentTitle {color: wheat; margin: 2rem 0 0 1rem;}

.inputComment {width: 95%; margin: 0 auto;}
.inputComment > form > div > label {color: white;}
.inputComment > form > button {float: right;}

hr {border: 1px solid darkgray; margin: 5rem 0 1rem 0;}

.commentbox {
	width: 95%;
	margin: 2rem 0 0 2rem;
	padding: 10px;
	border-bottom: 1px solid rgba(169, 169, 169, .5);
}
.commentbox > span {color: white; border-bottom: 1px solid rgba(169, 169, 169, .5);}
.commentbox > p {width: 70%; color: white; margin-top: 1rem; word-break: break-all;}
.commentbox > a {position: relative; float: right; bottom: 40px;}

/* -------------------- selectBoardOne.jsp End ---------------------------------- */

.insertBF {
	width: 50%;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid rgba(169, 169, 169, .5);
	border-radius: 0.5rem;
	margin-top: 2rem;
}

.insertBF > textarea {margin-bottom: 40px;}
.insertBF > button {float: right; margin: -30px 0 0 10px;}

.custom-select {width: 120px;}

/* -------------------- insertBoardForm.jsp End ---------------------------------- */
	
